.Menu{
    background-color: rgb(66, 212, 212);
    color: white;
    height:50px;
    text-align: center;
    border-style:double;
    border-color:azure;
}
.banner{
    background-color: rgb(52, 163, 163);
    color: white;
    height:300px;
    text-align: center;
    border-style:double;
    border-color:azure;
}
.about{
    height: 400px;
    display: flex;
    color: white;
    text-align: center;
    border-style:double;
    border-color:azure;
    background-color: rgb(86, 184, 151);
}
.about_right{
    width:50%;
    border-style:dotted;
    border-color:azure;
}
.about_left{
    width:50%;
    border-style:dotted;
    border-color:azure;
}
.services{
    display:flex;
    background-color: rgb(66, 212, 212);
    color: white;
    height:300px;
    text-align: center;
    border-style:double;
    border-color:azure;
}
.services_one{
    width:33.33%;
    border-style:double;
    border-color:azure;
}
.services_two{
    width:33.33%;
    border-style:double;
    border-color:azure;
}
.services_three{
    width:33.33%;
    border-style:double;
    border-color:azure;
}
.portfolio{
    background-color: rgb(52, 163, 163);
    color: white;
    height:250px;
    text-align: center;
    border-style:double;
    border-color:azure;
    display:flex;
}
.portfolio_one{
    width:25%;
    border-style:dotted;
    border-color:azure;
}
.portfolio_two{
    width:25%;
    border-style:dotted;
    border-color:azure;
}
.portfolio_three{
    width:25%;
    border-style:dotted;
    border-color:azure;
}
.portfolio_four{
    width:25%;
    border-style:dotted;
    border-color:azure;
}
.footer{
    background-color: rgb(66, 212, 212);
    color: white;
    height:50px;
    text-align: center;
    border-style:double;
    border-color:azure;
    font-size: medium;
}
